.phome-cont {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.phome-top {
    width: 100%;
    height: 60px;
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
    background-color: #043a31;
    text-shadow: 1px 1px 3px black;
}

.phome-logo {
    color: white;
    font-size: 35px;
    font-weight: 700;
    cursor: pointer;
}

/* .home-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.logout-bttn {
    width: 100px;
    padding: 3px 0;
    color: #043a31;
    background-color: white;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 0 0px rgb(158, 158, 158);
    transition: all 300ms ease;
}

.logout-bttn:hover {
    box-shadow: 1px 1px 0 0px rgb(158, 158, 158);
}


.phome-bottom {
    width: 100%;
    flex: 1;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    padding: 30px;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    position: relative;
    overflow-y: scroll;
}